body {
    font-family: Arial, sans-serif;
    background: #fff;
    margin: 0;
    padding: 40px;
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .card {
    position: relative;
    width: 400px;
    height: 700px;
    color: white;
    text-align: center;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background-size: cover;
    background-position: center;
  }
  .card-content {
    position: relative;
    z-index: 1;
  }

  .card h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }

  .card p {
    font-size: 16px;
  }

  .card a {
    display: inline-block;
    margin-top: 15px;
    color: white;
    font-weight: bold;
    text-decoration: underline;
  }
  .piekarnia {
    background-image: url('media/bulki.png');
  }

  .cukiernia {
    background-image: url('media/ciastka.png');
  }

  .garmazeria {
    background-image: url('media/krokiet.png');
  }
  h2{
    height: 0px;
    color: blanchedalmond;
  }
  .gwiazda {
    position:relative;
    width: 400px;
    height:500px;
    object-fit: contain;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
}
p{
    color: blanchedalmond;
}
.href{
color: blanchedalmond;
}
