*{
    box-sizing: border-box;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}
/* BASE CLASSES */
.flex-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.image{
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
/* CONTENT */
#content{
    width: 30vw;
    height: 80vh;
}
.banner{
    height: 15vh;
    align-items: center;
    justify-content: center;
}
.banner_text{
    width: 40%;
    font-size: 25px;
    font-family: Font-BD;
    text-align: center;
}
.banner_image{
    width: 60%;
    height: 100%;
}
.text{
    height: auto;
}
.more{
    align-items: end;
}
#more_button{
    width: auto;
    border: 5px solid #eab80f;
    background-color: white;
    padding: 0px 10px 0px 10px;

    font-size: 20px;

    color: #eab80f;
}
/* PANELS */
#panels{
    width: 50vw;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
}
.panel{
    width: 30%;
    height: 100%;
}